#computerStore {
  position: relative;
}

#workerBalance{
  display: flex;
}

#workerBalanceAmount {
  margin-left: auto;
}

#workerLoan{
  display: flex;
  visibility: hidden;
}

#workerLoanAmount {
  margin-left: auto;
}

#payInfo p{
  display: inline;
}

#payAmount {
  float: right;
}

#title {
  text-align: center;
}

#firstRow {
  margin-top: 40px;
}

#secondRow {
  margin-top: 60px;
}

#loanButton {
  text-align: center;
}

#workButtons {
  text-align: center;
}

#repayLoan {
  visibility: hidden;
}

#laptopDropdown {
  text-align: center;
}

#workerLoan {
  visibility: hidden;
}

#buySection {
  text-align: center;
}