#computerStore {
  position: relative;
  background-color: GREY;
  color: white;
}

#computerStore h1 {
  margin-left: 10%;
}

#workerBalance{
  display: flex;
}

#workerBalanceAmount {
  margin-left: auto;
}

#workerLoan{
  display: flex;
  visibility: hidden;
}

#workerLoanAmount {
  margin-left: auto;
}

#payInfo p{
  display: inline;
}

#payAmount {
  float: right;
}

#title {
  text-align: center;
}

#firstRow {
  margin-top: 40px;
}

#secondRow {
  margin-top: 60px;
}

#loanButton {
  text-align: center;
}

#workSec {
  position: relative;
}

#workButtons {
  position: absolute;
  bottom: 0;
  left: 20.5%;
}

#repayLoan {
  visibility: hidden;
}

#laptopSelect {
  margin-bottom: 8%;
}

#laptopDropdown {
  text-align: center;
}

#workerLoan {
  visibility: hidden;
}

#buySection {
  text-align: center;
}

.card-img-top {
  max-height: 30vh; /*not want to take all vertical space*/
  object-fit: contain;/*show all image, autosized, no cut, in available space*/
}